# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#All Visual Studio project files
msvc-projects
msvc-projects/*

#All wxFormBuilder project files
wxformbuilder-projects
wxformbuilder-projects/*
