########################
# I'm not allowed to release any resources, so I'm embedding them.
# But I don't wnat them in version control either.
textures/

########################
# Doxygen Files
########################
doc/doxygen/html
doxygen.errors.txt
doxygen.log.txt

########################
# CMake Files
########################
CMakeFiles
CMakeCache.txt
Makefile
*.cmake

########################
# Sublime Files
########################
*.sublime-workspace

########################
# Various Project Files
########################
bin
meta

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
